@model WebApplication.Models.ViewModel.AddProduitViewModel
@{
    ViewBag.Title = "Add";
}

<div class="add_div">

    @using (Html.BeginForm("HandleForm", "Add"))
    {

        <div class="form-group">
            @Html.LabelFor(p => p.produit.Code)
            <div>@Html.TextBoxFor(p => p.produit.Code, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.produit.Description)
            <div>
                @Html.TextBoxFor(p => p.produit.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.produit.Libelle)
            <div>
                @Html.TextBoxFor(p => p.produit.Libelle, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.produit.Prix)
            <div>
                @Html.TextBoxFor(p => p.produit.Prix, new { @class = "form-control" })
            </div>
        </div>
        <div>
            @Html.LabelFor(p => p.produit.Stock)
            <div>
                @Html.TextBoxFor(p => p.produit.Stock, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group form-check">
            @Html.DropDownListFor(p => p.produit.Categorie, p.categories)
        </div>
        <div class="form-group form-check">
                @Html.LabelFor(p => p.produit.Actif)
                <div>
                    @Html.CheckBoxFor(p => p.produit.Actif, new { @class = "form-check-input" })
                </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    }

</div>
