@model WebApplication.Models.ViewModel.ProduitViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row body_produits">

    <div style="display: flex; justify-content: space-between;padding: 0 15px;">
        <div>Id</div>
        <div>Code</div>
        <div>Description</div>
        <div>Libelle</div>
        <div>Prix</div>
        <div>Stock</div>
    </div>

    <div class="list-group">

        @foreach (var p in Model.Produits)
        {
            <a href="/Home/Detail/@p.Id" class="list-group-item list-group-item-action item_product">
                <div style="display: flex; justify-content: space-between;">
                    <div>@p.Id</div>
                    <div>@p.Code</div>
                    <div>@p.Description</div>
                    <div>@p.Libelle</div>
                    <div>@p.Prix</div>
                    <div>@p.Stock</div>
                </div>
            </a>

        }
    </div>
</div>